version: '3'
services:
  app:
    build:
      context: .
      dockerfile: .docker/local/Dockerfile
    tty: true
    stdin_open: true
    working_dir: /app
    volumes:
      - .:/app:cached
      - /app/vendor
      - /app/log
      - /app/tmp
      - /app/bin
      - /app/node_modules
    env_file:
      - .env
    ports:
      - 3000:3000
      - 3045:3045
    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_USERNAME=root
      - MYSQL_PASSWORD=password
      - MYSQL_PORT=3306
    command: bash -c "
      bundle install --path vendor/bundle --jobs=4 &&
      yarn install &&
      ./tools/run_server.sh"
    container_name: hellopoker_app
    networks:
      - app-net

  db:
    image: mysql:5.7.30
    ports:
      - 3306:3306
    volumes:
      - hellopoker_db:/var/lib/mysql:delegated
      - ./db/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      MYSQL_DATABASE: hellopoker_development
      MYSQL_USER: root
      MYSQL_ROOT_PASSWORD: password
    networks:
      - app-net
    container_name: hellopoker_db

volumes:
  hellopoker_db:

networks:
  app-net:
